@import url('https://fonts.googleapis.com/css?family=Merriweather:100,200,300,400,500,600,700|Heebo:100,200,300,400,500,600,700');

body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

main {
    flex: 1 0 auto;
}

/*////////////////////////////// Base File*/

/* Navigation bar */
nav {
    background: #fefefa;
    display: block;
}

nav ul a,
nav .brand-logo {
    font-family: "Merriweather", sans-serif;
    color: #000000;
}

nav .brand-logo {
    padding-left: 10px;
}

nav .fas {
    color: #000000;
}

nav ul a {
    font-size: 18px;
}

.text-shadow {
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
} 

/* Header */
.center-header{
    font-family: "Merriweather", sans-serif;    
    text-align: center;
    text-decoration: underline;
    position: relative;
    font-size: 50px;
}

.input-field .helper-text {
    font-family: "Heebo", sans-serif;
    text-align: left;
}

p {
    font-family: "Heebo", sans-serif;
}

/* Footer */
footer {
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding-top: 5px;
}

.page-footer {
    margin-top: 50px;
    width: 100%;
    background-color: #fefefa;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.2);
    box-shadow: 0 0 5px grey;
    left: 0;
    bottom: 0;
    text-align: center;
    position: relative;
}

.page-footer h5 {
    font-family: "Merriweather", sans-serif;
}

.quicklinks a, 
.fab{
    color: #000000;
}

.social-media {
    font-size: 30px;
}

/*////////////////////////////// Home Page*/

hr {
    margin: 60px 0;
    border: 0;
    height: 1px;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0), rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0));
}

/* carousel for the home page */
.carousel {
    border-radius: 0px 0px 40px 40px;
    height: 90vh !important;
}

/* Description from the home page */
.des-section .hp-recipe {
    margin: 0;
    border-radius: 25px;
}

.description {
    font-family: "Heebo", sans-serif;
    text-align: center;
    font-size: 16px;
}

/* Cards for the home page */

.search-recipes {
    border-radius: 25px;
    margin-bottom: 30px;
}

.card-title {
    font-family: "Merriweather", sans-serif;    
    text-align: center;
    text-transform: capitalize;
}

.shared-recipes {
    height: 70vh;
    position: relative;
}

.card .card-content {
    padding: 3px;
}

.card .card-image img{
    width: 200px;
    height: 200px;
    border-radius: 50%;
    object-fit: cover;
    margin: auto;
}

.row .col.m4 {
    width: 31%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.shared-recipe-card {
    margin: 20px 20px 20px 20px;
}

.card {
    height: 100%;
}

td, th {
    padding: 3px 5px;
}

table {
    font-family: "Heebo", sans-serif;;
}

.table_header {
    font-weight: 700;
}

/*////////////////////////////// Login/Registration/Edit Username/Edit Password Page */
.bg-image {
    background-repeat: no-repeat;
    background-position: center center;
    position: fixed;
    z-index: auto;
    left: 0;
    top: 0;
    width: 100%;
    height: 150vh;
    opacity: 0.5;
}

.registration-form, 
.login-form,
.password-form {
    margin: 20px;
    padding: 16px 16px;
    position: relative;
}

.username-form {
    margin: 20px;
    padding: 16px 16px 130px;
}

.inside-form {
    position: relative;
    border-radius: 25px;
}

.input-field {
    margin: 7px 0;
}

.card-panel .row {
    margin: 0;
    border-radius: 2.5em;
}

.button-set .col.s5 {
    margin-left: 50px;
}

.enter {
    margin: 35px 0 25px;
}

/*////////////////////////////// My Profile Page */

.profile-pass {
    margin-bottom: 250px;
}

/*////////////////////////////// My Recipe Page */

.search-my-recipes {
    border-radius: 25px;
    margin: 30px auto;
    position: relative;
    width: 950px;
}

.error-message, 
.result-message {
    font-family: "Heebo", sans-serif;
    position: relative;
}

.veg {
    width: 17px;
    position: absolute;
}

.my-recipes {
    margin: 0 100px;
    position: relative;
}

.row .col.s4 {
    width: 31%;
    margin-left: auto;
    left: auto;
    right: auto;
}

.my-recipe-card {
    margin: 20px;
    height: 82vh;
}

.card .my-card-content {
    margin: 2px 3px 5px;
    text-align: center;
}

.card .my-recipe-card-image img{
    width: 280px;
    height: 280px;
    display: inline;
    object-fit: cover;
}

.btn-small {
    margin: 10px 10px 5px 10px;
    text-align: center;
}

.add-recipe-card {
    background-color: #fefefa;
    position: relative;
    margin: auto;
    width: 60%;
}

.button-set .col.s4 {
    width: 31%;
    margin: 60px 0 18px 18px;
    left: auto;
    right: auto;
}

.button-set .col{
    margin: 20px 0;
}

.button-set .col.middle-button {
    margin: 20px 15px;
}

/*////////////////////////////// View recipe page */

.view-recipe-card {
    background-color: #fefefa;
    position: relative;
    margin: 20px auto;
    width: 80%;
}

.view-center-header {
    margin: 10px 0 40px;
    font-family: "Merriweather", sans-serif;    
    text-align: center;
    text-decoration: underline;
    text-transform: capitalize;
    position: relative;
}

.view_recipe_image {
    width: 400px;
    height: 400px;
    border-radius: 25px;
    object-fit: cover;
}

.row .recipe-table {
    position: absolute;
}

.view_recipe_info_table {
    margin: 60px 0;
    position: relative;
    display: block;
}

.view_recipe_info_table tr,
.view_recipe_info_table td {
    padding: 10px;
    font-size: 20px;
}

.row .col.view {
    padding: 0;
}

.list-ingredients,
.cooking-recipe {
    margin-bottom: .5em;
    margin-left: 2em;
    font-size: 16px;
    text-transform: capitalize;
}

.list-ingredients::before,
.cooking-recipe::before {
    width: 1em;
    margin-left: -1em;
}

.add-meal-card{
    position: relative;
}

/*////////////////////////////// Error Pages */
.error-message{
    font-family: "Heebo", sans-serif;
    text-align: center;
}

@media only screen and (max-width: 1024px) {

    /*////////////////////////////// Base File*/

    /* Navbar */

    nav ul a {
        padding: 0 10px;
        font-size: 15px;
    }

    /* Footer */
    .quicklinks li {
        font-size:13px;
    }

    .social-media {
        font-size: 25px;
    }

    /*////////////////////////////// Home Page*/
    .description {
        font-size: 14px;
    }

    /* Cards for the home page */

    .search-recipes {
        padding: 0 0 20px;
    }

    .shared-recipes {
        height: 75vh;
    }

    .card-content strong{
        font-size: 20px;
    }

    .card .card-image img{
        width: 170px;
        height: 150px;
    }

    .card .card-title {
        font-size: 20px;
    }
    
    .row .col.m4 {
        width: 30%;
    }

    .card .card-content {
        padding: 10px;
        border-radius: 0 0 2px 2px;
    }   

    .shared-recipe-card {
        margin: 30px 20px 20px 20px;
    }

    .my-recipe-card {
        height: 70vh;
    }

    /*////////////////////////////// Login/Registration/Edit Username/Edit Password Page */
    .bg-image {
        height: 130vh;
    }

    .button-set .col.s5 {
        margin-left: 30px;
    }

    /*////////////////////////////// My Recipe Page */
    .my-recipes {
        margin: 0 0 0 70px;
    }
    
    .search-my-recipes {
        width: 850px;
    }

    .row .col.s4 {
        width: 30%;
    }

    .card .my-recipe-card-image img {
        width: 170px;
        height: 150px;
    }

    .button-set .col{
        margin: 20px 0;
        font-size: 13px;
    }

    
    /*////////////////////////////// View recipe page */

    .view-center-header {
    margin: 10px 0 10px;
    }

    .view_recipe_image {
        margin-top: 30px;
        width: 300px;
        height: 300px;
    }

    .view_recipe_info_table {
        margin: 40px 0;
    }

    .view_recipe_info_table tr,
    .view_recipe_info_table td {
        padding: 10px;
        font-size: 17px;
    }
}

@media only screen and (max-width: 768px) {

    /*////////////////////////////// Base File*/

    .center-header{
        font-size: 35px;
    }

    /*////////////////////////////// Home Page*/

    /* carousel for the home page */
    .carousel {
        border-radius: 0px 0px 40px 40px;
        height: 60vh !important;
    }

    /* Cards for the home page */
    .card-content strong{
        font-size: 18px;
    }

    .card .card-image img{
        width: 150px;
        height: 130px;
    }

    .search-recipes .btn {
        padding: 0 5px;
        font-size: 12px;
    }

    .bg-image {
        height: 100vh;
    }

    /*////////////////////////////// Registration/login Page*/

    .card-panel .row {
        margin: 0;
        border-radius: 1em;
    }

    .row .col.reg {
        width: 40%;
    }

    /*////////////////////////////// My Recipe Page */
    .search-my-recipes {
        width: 700px;
    }

    .my-recipes {
        margin: 0 0 0 70px;
    }

    .row .col.s4 {
        width: 30%;
    }

    .card .card-title {
        font-size: 15px;
    }

    /*////////////////////////////// Edit recipe page */
    .add-recipe-card {
        margin: auto;
        width: 80%;
    }

    .button-set .btn-large i{
        font-size: 15px;
    }
    .button-set .col.middle-button {
        margin: 20px 10px;
    }

    /*////////////////////////////// View recipe page */

    .view-center-header {
    margin: 10px 0 10px;
    }

    .view_recipe_image {
        margin-top: 30px;
        width: 300px;
        height: 300px;
    }

    .view_recipe_info_table {
        margin: 40px 0;
    }

    .view_recipe_info_table tr,
    .view_recipe_info_table td {
        padding: 10px;
        font-size: 17px;
    }

    .row .col.offset-m5 {
        margin-left: 75px;
    }

    .row .recipe-table {
        position: relative;
    }

    .view_recipe_image {
        width: 400px;
        height: 400px;
    }

    .row .col.recipe-table {
        padding-left: 100px;        
        width: 100%;
    }

    .collapsible-body {
        padding: 20px 0;
    }
}    

@media only screen and (max-width: 425px) {

    /*////////////////////////////// Home Page */
    nav .brand-logo {
        font-size: 25px;
    }

     .bg-image {
        height: 100vh;
    }

    .footer-title {
        font-size: 20px;
    }

    .shortcuts {
        display: none;
    }

    /* carousel for the home page */
    .carousel {
        height: 60vh !important;
    }

    /* shared cards */
    .row .col.m4 {
        width: 100%;
    }

    .shared-recipes {
        height: 105vh;
    }

    .card .card-image img{
        width: 340px;
        height: 330px;
    }

    /*////////////////////////////// Registration Page */

    /* buttons for the registration page */
    .button-set{
        margin: 0;
    }

    .button-set .col.s5 {
        margin-left: 5px;
        width: 45%;
    }

    /*////////////////////////////// My Recipe Page */
    .search-my-recipes {
        width: 400px;
    }

    .search-my-recipes .btn {
        padding: 0 5px;
        font-size: 12px;
    }

    .my-recipes {
        margin: 0 50px;
    }

    .button-set .col.middle-button {
        margin: 20px 0;
    }

    .card .card-title {
        font-size: 23px;
    }

    /*////////////////////////////// Edit recipe page */
    .add-recipe-card {
        margin: auto;
        width: 80%;
    }

    .add-recipe-card .col {
        padding: 0;
    }

    /*////////////////////////////// View recipe page */

    .view-center-header {
        font-size: 30px;
    }

    .row .col.offset-m5 {
        margin-left: 0;
    }

    .view_recipe_image {
        width: 200px;
        height: 200px;
    }

    .row .col.recipe-table {
        padding-left: 0;        
        width: 100%;
    }

    .row .col ol {
        padding: 0;
    }

    .error-message {
        font-size: 20px;
    }
}

@media only screen and (max-width: 375px) {

    nav .brand-logo {
        padding: 0;
        font-size: 20px;
    }

    .modal .modal-footer{
        height: 100px;
    }

    /* shared cards */
    .card .card-image img{
        width: 290px;
        height: 280px;
    }

    .shared-recipes {
    height: 93vh;
    }

    /* buttons for the registration page */
    .button-set .col.s5 {
        margin-left: 0;
        width: 100%;
    }

    .enter{
        margin: 10px 0;
    }

    .footer-title,
    .copyright {
        font-size: 15px;
    }

    /*////////////////////////////// My Recipe Page */
    .search-my-recipes {
        width: 350px;
    }

    .view_recipe_info_table tr,
    .view_recipe_info_table td {
        font-size: 14px;
    }

    .collapsible h5 {
        font-size: 15px;
    }

    .card .card-title {
        font-size: 17px;
    }
}

@media only screen and (max-width: 320px) {
    
    /*////////////////////////////// Home Page */

    /* shared cards */
    .card .card-image img{
        width: 250px;
        height: 240px;
    }

    .card-panel .row .input-field {
        font-weight: 200;
        padding: 0;
    }

    .shared-recipes {
    height: 85vh;
    }

    /*////////////////////////////// My Recipe Page */
    .search-my-recipes {
        width: 300px;
    }

    .search-my-recipes .btn {
        padding: 0;
        font-size: 10px;
    }

    .switch label .lever {
        margin-left: 40px;
        margin: 0 0 0 15px;
    }

    /*////////////////////////////// My Recipe Page */
    .view-center-header {
        font-size: 20px;
    }
    
    .search-my-recipes {
        width: 320px;
    }

    .view_recipe_info_table tr,
    .view_recipe_info_table td {
        font-size: 12px;
    }

    .collapsible h5 {
        font-size: 13px;
    }

    .enter {
        font-size: 11px;
    }
}
