{% extends "base.html" %}
{% block content %}

    <!-- Carousel which would go through 3 images -->
    <div class="carousel carousel-slider" data-indicators ="true">
        <a href="#one!" class="carousel-item"><img src="{{ url_for('static', filename='img/carousel-img1.jpeg') }}" alt="carousel-image-1"></a>
        <a href="#two!" class="carousel-item"><img src="{{ url_for('static', filename='img/carousel-img2.jpeg') }}" alt="carousel-image-2"></a>
        <a href="#three!" class="carousel-item"><img src="{{ url_for('static', filename='img/carousel-img3.jpeg') }}" alt="carousel-image-3"></a>
    </div>

    <!-- Main content for the section -->
    <h3 class="center-header">Home Recipes</h3>
    <div class="row des-section">
        <p class="description col l8 s12"><strong>Are you about to leave home to either be independent or go to university?<br>
            Have you ever had a time when you had to store a specific recipe?<br>
            Have you ever lost a recipe that you wrote down and you can't find it?</strong><br><br>   
            As there is nothing like home-cooked, mums style cooking, Your problems have been answered.
            A place for you to add your recipes, A place for you to share them with the rest of the world. 
        A place for you to even search depending on what specific ingredient you want to use.</p>
            <!-- Image place holder -->
                <img src="{{ url_for('static', filename='img/hp-recipe.jpeg') }}" class="hp-recipe col l4 s12" alt="side-homepage-image">

    </div>
    <hr>
    <h4 class="center-header">Shared Recipes</h4>

    <!-- Place holder for the search button where it will call up the query to do the search for 
    recipe names and ingredient -->
    <div class="row card-panel grey lighten-5 search-recipes">
        <form action="{{ url_for('search') }}" method="post" class="col s12">
            <div class="row valign-wrapper center-align">
                <div class="input-field col s12">
                    <i class="fas fa-search prefix light-blue-text text-darken-4"></i>
                    <input type="text" name="query" id="query" minlength="2" class="validate" required>
                    <label for="query">Search Recipe </label>
                    <span class="helper-text">Search by name of recipe or by ingredient</span>
                </div>
            </div>
            <div class="row">
                <div class="col s9 offset-s3 xs12 m6 offset-m4">
                    <a href="{{ url_for('get_recipes') }}" class="grey lighten-1 btn black-text">
                        <i class="fas fa-backspace"></i> Reset</a>
                    <button type="submit" class="orange accent-1 btn black-text">
                        <i class="fas fa-search left"></i> Search
                    </button>
                </div>
            </div>
        </form>
    </div>

    <!-- Error message would appear if the search count comes back as 0 -->
    {% if search_results == 0 %}
    <div class="row card-panel error-message grey lighten-5 center">
        <h4>No Results Found</h4>
        <a href="{{ url_for('get_recipes') }}">
            <p>Clear Search</p></a>
    {% else %}
        <h4 class="row result-message center">{{ result_message }}</h4>
    {% endif %}
    </div>

    <!-- The cards that are displayed fo the recipes which have been shared and is being called from the database,
    It will first check if the recipe has been shared by the general public, 
    once the user logs in and visits the shared recipes, if the recipe belongs to the userm it will 
    be displayed in a different colour. -->
        <div class="row shared-recipes">
            {% for recipe in recipes %}
            {% if recipe.to_share == "on" %}            
                {% if session.user == recipe.created_by %}
                    <div class="shared-recipe-card card hvr-grow-shadow orange lighten-5 col s12 m4 ">
                {% else %}
                    <div class="shared-recipe-card card hvr-glow grey lighten-3 col s12 m4">
                {% endif %}
                        <!-- If the recipe is vegetarian, the vegetarian symbol would appear by the recipe name -->
                        <div class="card-content">
                            {% if recipe.is_it_veg %}
                                <span class="card-title grey-text text-darken-4 s12"><strong>{{ recipe.recipe_name }}
                                    <img src="{{ url_for('static', filename='img/vegetarian-mark.svg') }}" class="veg" alt="veg"></strong></span>
                            {% else %}
                                <span class="card-title grey-text text-darken-4 s12"><strong>{{ recipe.recipe_name }}</strong></span>
                            {% endif %}
                            <div class="card-image waves-effect waves-block waves-light">
                            <!-- The variable that is created to display content from the database table "recipe".
                            This would check if there is an image linked to the recipe-->
                            {% if recipe.url_link %}
                                <img class="activator" src="{{ recipe.url_link }}" alt="recipe-image">
                            {% else %}
                            <!--image recived from https://upload.wikimedia.org/wikipedia/commons/thumb/a/ac/No_image_available.svg/600px-No_image_available.svg.png-->
                                <img class="activator" src="{{ url_for('static', filename='img/no-image.png') }}" alt="no-image-available">
                            {% endif %}                        
                        </div>
                            <table>
                                <tr class="new_row">
                                    <td class="table_header">Meal Type</td>
                                    <td>{{ recipe.meal_name }}</td>
                                </tr>
                                <tr class="new_row">
                                    <td class="table_header">Prep Time</td>
                                    <!-- if statment to check if there is content in there other wise till put a dash in its space -->
                                    <td> {% if not recipe.prep_time %}
                                    <p>-</p>
                                    {% else %}
                                    <p>{{ recipe.prep_time }} min</p>
                                    {% endif %}</td>
                                </tr>
                                <tr class="new_row">
                                    <td class="table_header">Cooking Time</td>
                                    <td>{% if not recipe.cooking_time %}
                                    <p>-</p>
                                    {% else %}
                                    <p>{{ recipe.cooking_time }} min</p>
                                    {% endif %}</td>
                                </tr>
                                <tr class="new_row">
                                    <td class="table_header">Servings</td>
                                    <td>{% if not recipe.num_servings %}
                                    <p>-</p>
                                    {% else %}
                                    <p>{{ recipe.num_servings }} min</p>
                                    {% endif %}</td>
                                </tr>
                            </table>
                            <!-- Takes user to the specific recipe -->
                            <p><a href="{{ url_for('view_recipe', recipe_id=recipe._id) }}">View Full Recipe</a>
                            <i class="fas fa-chevron-up right activator"></i></p>
                        </div>
                        <div class="card-reveal ">
                            <span class="card-title grey-text text-darken-4"><strong>Ingredients</strong><i class="fas fa-chevron-down right"></i></span>
                            <ul class="unordered-list list-items">
                            {% for ingredient in recipe.recipe_ingredients %}
                                <li class="ingredients-list">
                            {{ ingredient }}
                                </li>
                            {% endfor %}
                            </ul>
                            <!--if user is logged in, edit and delete buttons that enables the owner of the recipes to do as they please with the said recipe -->
                            {% if session.user|lower == recipe.created_by|lower %}
                                <a href="{{ url_for('edit_recipe', recipe_id=recipe._id) }}" class="btn-small orange accent-1 col s12 black-text"><i class="far fa-edit"></i> Edit</a>
                                <a href="{{ url_for('delete_recipe', recipe_id=recipe._id) }}" class="btn-small red accent-1 col s12 black-text"><i class="fas fa-trash"></i> Delete</a>
                            {% endif %}  
                        </div>
                    </div>
                    {% endif %}
            {% endfor %}

            <div class="row">
                <div class="col s12 xl12">
                    <!--Pagination i utlitised https://www.youtube.com/watch?v=PSWf2TjTGNY for assistance however it has been edited to my preference.-->
                    <ul class="pagination text-shadow center-align">
                        {% for page_number in amount_pages %}
                        {% if page_number == current_recipe_page %}
                        <li class="active grey darken-3 black-text"><a>{{ page_number }}</a></li>
                        {% else %}
                        <li class="waves-effect">
                            <a href="{{ url_for('get_recipes', current_recipe_page=page_number) }}">{{ page_number }}</a>
                        </li>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
    </div>
    
{% endblock %}